body {
    font-family: 'Roboto', sans-serif;
    background-color: #EFEFEF;
    font-size: 14px;
    color: #333333;
}

.wrapper {
    max-width: 1100px;
    padding-right: 0 15px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 4px 0;
}

.nav>li {
    margin: 0 15px;
}

.nav>li>a {
    text-decoration: none;
    color: #333333;
}

.header {
    background-color: #fff;
    padding-top: 5px;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 12px 0;
}

.logo {
    font-size: 36px;
    font-weight: 700;
    display: flex;
    align-items: center;
    letter-spacing: 4px;
}

.logo a {
    text-decoration: none;
    color: #66C05D;
}

.logo-img {
    display: block;
    width: 80px;
    height: 80px;
    background-image: url('../img/logo.svg');
    margin-right: 20px;
}

.header-info span {
    font-size: 16px;
}

.header-info button {
    font-size: 14px;
    border: 2px solid #66C05D;
    border-radius: 20px;
    background-color: transparent;
    padding: 10px 25px;
    margin-left: 36px;
    transition: 0.2s ease;
    outline: none;
    cursor: pointer;
}

.header-info button:hover {
    background-color: #66C05D;
    color: #ffffff;

}

.header-bottom {
    padding: 20px 0 27px 0;
}

.header-button .nav {
    padding: 15px;
}

.header-button .nav {
    font-size: 16px;
    margin: 0;
}

hr {
    border: none;
    background-color: #EFEFEF;
    height: 1px;
}

.banner {
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 150px;
    padding-bottom: 150px;
    color: #fff;
}

.title {
    font-size: 48px;
    font-weight: 700;
}

.title h2 {
    font-size: 24px;
    font-weight: 700;
}

.bg-white {
    background-color: #ffffff;
}

.banner p {
    margin-bottom: 50px;
    max-width: 315px;
}

.btn {
    color: #ffffff;
    text-decoration: none;
    border: 2px solid #ffffff;
    border-radius: 20px;
    background-color: transparent;
    padding: 9px 47px;
    transition: 0.2s ease;
}

.btn:hover {
    background-color: #fff;
    color: #333333;
}

.bg-green {
    background-color: #66C05D;
    color: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bg-green-item {
    flex: 0 0 60%;
}
.bg-green-img {
    flex: 0 0 29%;
    text-align: center;
}
.bg-green input {
    font-style: 14px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 15px;
}

.bg-green .btn {
    display: block;
    text-align: center;
    max-width: 166px;
    padding: 10px 0;
}
.bg-green h3 {
    font-size: 18px;
    font-weight: 700;
    margin-top: 0;
}
.catalog {
    padding-top: 100px;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 30px;
}

.grid-item-title {
    grid-column: 1/4;
    grid-row: 1/2;
}

.grid-item-img {
    grid-column: 4/5;
    grid-row: 1/2;
    text-align: center;
}

.grid-item--left {
    grid-column: 1/3;
    grid-row: 3/4;
}

.grid-item--right {
    grid-column: 3/5;
    grid-row: 3/4;
}

.grid-item--catalog {
    text-align: center;
}

.grid-item--catalog .bg-white {
    padding: 15px 30px;
}

.grid-price {
    font-size: 21px;
    font-weight: 500;
}

.grid-btn {
    border: 2px solid #66C05D;
    border-radius: 30px;
    background-color: #66C05D;
    color: #fff;
    text-decoration: none;
    padding: 6px 41px;
    transition: 0.2s ease;
    cursor: pointer;
}